    :root{
      --ultragrey: #333;
    }

    *{
      box-sizing: border-box;
    }

    html, body{
      background-color: dimgray;
    }

    body{
      margin: 25px auto;
      max-width: 950px;
      text-align: center;
      font-family: Consolas,"courier new";
    }

    h1,h2,h3,h4,h5,p{
      margin: 0px;
      padding: 0px;
    }
      
    p{
      font-size: large;
      font-weight: bold;
    }

    a{
      font-size: large;
      color: orange;
      text-decoration: none;
    }

    code {
      white-space: pre-line;
      white-space: pre;
      font-family: Consolas,"courier new";
      color: orange;
      background-color: transparent;
      padding: 2px;
      font-size: 105%;
      text-shadow: 0px 0px 2px darkorange;
    }

    input[type="button"], .cun_td_button{
      background: darkorange;
  	  color: var(--ultragrey);
	    border: none;
	    padding: 5px 15px;
      margin-right: 2px;
      font-family: inherit;
      font-size: medium;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
    }
    
    .cun_ultragrey{
      color: var(--ultragrey);
    }

    .cun_lightyellow{
      color: lightgoldenrodyellow;
    }

    .cun_orange_glow{
      color: orange;
      text-shadow: 0px 0px 2px darkorange;
    }

    .cun_codeblock {
      background-color: var(--ultragrey);
      border: 0px solid transparent;
      border-radius: 25px;
      padding: 50px;
      text-align: left;
      box-shadow: 0px 5px 10px dimgray;        
    }