@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

:root {
  
  --royal_blue: #383288;
  --royal_blue_ligth: #494399;
  --almost_white: #f8f2ff;
  --light_grey: #d8d8d8;
  --medium_grey: #8d8d8d;
  --medium_grey_royal_blue: #88829d;
  --darker_grey: #333333;
  --dark_transparent: #3339;
  
  --font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  
  --gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))
}

/* animations */

@keyframes slide_up {
  from {
    height: 50px;
  }
  to {
    height: 0;
    padding: 0;
    margin: 0;
  }
}

/* tag related */

* {
  box-sizing: border-box;
  transition: all 0.2s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media(prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Ubuntu, Segoe UI, Roboto, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: var(--font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--almost_white);
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a {
  font-weight: 600;
  cursor: pointer;
  color: var(--almost_white);
  text-decoration: none;
  transition: all .2s;
}
a:focus, a:hover {
  color: var(--light_grey);
}

/* aligment etc--------------------------------------------------------------*/

.cun_right {
  margin-left: auto;
}

.cun_left {
  margin-right: auto;
}

.cun_hide {
  display: none !important;
}

/*pointers-------------------------------------------------------------------*/

.cun_cursor_pointer {
  cursor: pointer;
}

/* Alert Bar */

.cun_alert_bar {
  height: 70px;
  background: yellow;
  padding: 5px;
  display: block;
  overflow: hidden;
  animation-name: slide_up;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.cun_alert_under_bar {
  display: none;
}

/*Top Fixed Nav Bar----------------------------------------------------------*/

#top_navbar {
  position: relative;
  height: 70px;
  padding: 5px;
  overflow: hidden;
  z-index: 100;
  transition: all .2s;
}

#top_navbar .top_navbar_under {
  display: flex;
}

#top_navbar .top_navbar_under .top_navbar_container {
  display: flex;
}

@media only screen and (min-width: 720px) {
  #top_navbar {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
  }
  #top_navbar.is-fixed {
    
    background-color: var(--dark_transparent);
    box-shadow: 0px 0px 5px #0008;
  }
  #top_navbar.is-none {
    color: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 0px;
    border-bottom: 0px solid #fff;
    box-shadow: 0px 0px 5px #0000;
  }
  #top_navbar_under.is-block {
    height: 0;
  }
}

@media only screen and (max-width: 720px) {
  #top_navbar {
    height: auto;
    background-color: var(--royal_blue_ligth);
  }
  #cun_top_navbar_under {
    background-color: white;
    position: relative;
    height: 70px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 99;
  }
  #top_navbar.is-fixed {}
  #top_navbar.is-none {}
  #top_navbar.disolve {}
}

/* Header/logo Title---------------------------------------------------------*/

.cun_header {
  position: relative;
  padding: 120px 60px;
  text-align: center;
  background: var(--royal_blue);
  color: white;
  overflow:hidden;
}

.cun_header h1, h2, h3, h4, h5, h6, p, a{
  position: relative;
}

.cun_header_bar_image{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  margin: auto;
  opacity: 80%;
}

/* Style the top navigation bar----------------------------------------------*/

.cun_navbar {
  display: flex;
  background-color: var(--darker_grey);
}

.cun_navbar_container {
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: 20px 60px;
}

.cun_navbar_button_container {
  display: flex;
}

.cun_right_menu {
  margin-left: auto;
}

.cun_navbar_logo_container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cun_navbar_logo_text {
  color: var(--almost_white);
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  white-space: nowrap
}

/* logo and 3 striped menu button */

.cun_navbar_logo_container_button {
  display: none;
}

.cun_navbar_logo_container_icon {}

/* Style the navigation bar links--------------------------------------------*/

.cun_navbar_container_button {
  height: 40px;
  padding: 0 10px 0 10px;
  margin: 10px 10px 0 0;
  background-color: var(--royal_blue);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  box-shadow: 1px -1px 1px 1px #222;
}

.cun_navbar_container_button:hover {
  vertical-align: middle;
  background-color: var(--royal_blue_ligth);
}

.cun_navbar_container_button_anchor {
  font-weight: 900;
  margin: 5px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 720px) {
  .cun_main, .cun_navbar_button_container {
    flex-direction: column;
  }

  .cun_navbar_container {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    width: 100%;
    margin: 20px 60px;
  }

  .cun_navbar_logo_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cun_right_menu {
    margin-left: 0;
    width: 100%;
  }
 
  .cun_navbar_logo_container_button {
    display: inline-block;
    
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid var(--almost_white);
    border-radius: .25rem;
    transition: box-shadow .2s ease-in-out
  }
  .cun_navbar_logo_container_button:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .cun_navbar_logo_container_button>i {
    color: var(--almost_white);
  }
  .cun_navbar_container_button_anchor {
    text-align: left;
    margin: 5px 5px 5px 0;
  }
  .cun_navbar_container_button {
    height: 30px;
    padding: 0 10px 0 10px;
    margin: 5px 0 0 0;
    background-color: var(--royal_blue);
    border-radius: 5px;
  }
  .cun_navbar_container form label {
    margin-left: 0px;
    margin-top: 10px;
  }
  .cun_navbar_container form input {
    width: 80%;
  }
  .cun_navbar_container form input[type="submit"] {
    width: 120px;
    margin-left: 0px;
    margin-top: 10px;
    margin-left: auto;
  }
}

/* Style the navigation bar form---------------------------------------------*/

.cun_navbar_container form label {
  color: white;
  padding: 10px 10px;
  margin-left: 10px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--royal_blue);
}

.cun_navbar_container form input {
  color: gray;
  padding: 4px 4px;
  margin-left: 10px;
  width: 100px;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: var(--almost_white);
}

.cun_navbar_container form input[type="submit"] {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  padding: 10px 10px;
  background-color: var(--royal_blue);
}

/* Change color on hover */

.cun_navbar_container input[type="submit"]:hover {
  text-decoration: none;
  text-align: center;
  background-color: var(--royal_blue_ligth);
}

/* Column container----------------------------------------------------------*/

.cun_main {
  display: flex;
  flex-wrap: wrap;
}

/* Sidebar/left column-------------------------------------------------------*/

.cun_side_bar {
  flex: 20%;
  background-color: var(--medium_grey);
  padding: 20px;
}

@media screen and (max-width: 720px) {
  .cun_side_bar {
    display: none;
  }
}

/* Article-------------------------------------------------------------------*/

.cun_article {
  overflow: hidden;
  min-height: 70vh;
  flex: 60%;
  background-color: var(--light_grey);
  padding: 40px 80px;
}

.cun_section {
  overflow: hidden;
  position: relative;
  color: var(--royal_blue);
}

/* img container */

.cun_section_image_container {
  background-color: var(--medium_grey_royal_blue);
  width: 100%;
  padding: 0px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  padding: 0;
}

.cun_section_image {
  position: absolute;
  width: 100%;
}

.cun_section_link {
  margin: 10px 0 10px 0
}

/* Inner Form*/

.cun_inner_form {
  color: white;
}

/* Style the inner_form form label */

.cun_inner_form label {
  display: block;
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--royal_blue);
}

.cun_inner_form input {
  color: gray;
  padding: 4px 4px;
  margin-left: 10px;
  width: 80%;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: var(--almost_white);
}

.cun_inner_form input[type="submit"] {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  width: 120px;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: var(--royal_blue);
}

/* Change color on hover-----------------------------------------------------*/

.cun_inner_form input[type="submit"]:hover {
  text-decoration: none;
  text-align: center;
  background-color: var(--royal_blue_ligth);
}

/* Footer--------------------------------------------------------------------*/

.cun_footer {
  color: var(--medium_grey_royal_blue);
  padding: 20px;
  text-align: center;
  background: var(--darker_grey);
}

.cun_footer a {
  color: var(--medium_grey_royal_blue);
  padding: 6px;
  text-decoration: none;
  text-align: center;
}

.cun_footer h5 {
  padding: 6px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.cun_footer i {
 font-weight: 100;
}

/* table dedicted */

.cun_isv_table tr td {
  border: none;
}

.cun_isv_table tr td {
  padding: 0 10px 0 10px;
}

.cun_isv_table tr td h3 {
  margin: 0;
  padding: 0;
}

.cun_isv_table tr td h2 {
  text-align: right;
  margin: 0;
  padding: 0;
}

.cun_isv_table tr td h1 {
  text-align: left;
  margin: 0;
  padding: 0;
}

.cun_isv_row_final td {
  color: white;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 0;
  background-color: var(--royal_blue);
}

/* queries form format */

.cun_query_form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  align-content: space-between;
  color: white;
}

.cun_query_form label {
  color: white;
  flex: 48%;
  padding: 10px 10px;
  margin: 10px 0 0 0;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--royal_blue);
}

.cun_query_form input {
  color: gray;
  padding: 4px 4px;
  margin-left: 10px;
  width: 50%;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.cun_query_form select {
  color: gray;
  padding: 4px 4px;
  margin-left: 10px;
  width: 50%;
  text-decoration: none;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.cun_query_form input[type="submit"] {
  color: white;
  flex: 48%;
  padding: 10px 10px;
  margin: 10px 0 0 0;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--royal_blue);
  font-size: 15px;
}

/* Change color on hover */

.cun_query_form input[type="submit"]:hover {
  text-decoration: none;
  text-align: center;
  background-color: var(--royal_blue_ligth);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */


/*ABOUT PAGE-----------------------------------------------------------------*/
.cun_about_div{
  padding: 20px;
  margin:auto;
  width: 80vw;
  min-height: 50vh;
}

.cun_about_text{
  color: var(--royal_blue);
}

/*CONTACT PAGE-----------------------------------------------------------------*/
.cun_contact_div{
  padding: 20px;
  margin:auto;
  width: 80vw;
  min-height: 50vh;
}

/*BLOG PAGE-----------------------------------------------------------------*/
.cun_blog_div{
  padding: 20px;
  margin:auto;
  width: 80vw;
  min-height: 50vh;
}