<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>404 ERROR</title>
    <link rel="icon" href="/resources/images/favicon.ico" type="image/x-icon"> 
  </head>
  <body style="background-color:#383838;">
    <div style="display:block; width:50%; max-width:300px; margin-top:50px; margin-left: auto; margin-right: auto; color:white; font-family: 'Courier New', Courier, monospace;">
    <h1>ERROR 404</h1>
    <img style="max-width:300px;" src="/resources/images/not_the_page.jpg" alt="not the droids">
    <h3>This is not the page that you're looking for.</h3>
    </div>
  </body>
</html>


