
<script>
  /*COSTANTs AND VARIABLES--------------------------------------------------------*/
  const body_tag = document.getElementById("body");
  var navbar_anchors = new Array();
  var header_contents = new Array();
  var article_sections = new Array();


  
  /*FUNCTION CALL------------------------------------------------------------*/
  
    create_frontpage_content();
    create_frontpage_top_nav();
    create_frontpage_header();
    call_frontpage_main();
    create_frontpage_footer();

    navbar_scroll_event('top_navbar');
    
  

</script>